build/ linguist-vendored 
node_modules/ linguist-vendored
public/*.html linguist-vendored
public/*.css linguist-vendored
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.tsx linguist-language=TypeScript




