@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-template
{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/7d2359a4-434f-4efa-9ff3-e9d38a8bde7f/web/IN-en-20250707-TRIFECTA-perspective_4faa9280-a2c5-4e07-aafc-a45ce43fea09_large.jpg");
    height: 100%;
    width: 100%;
    /* opacity: 0.4; */
}