@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-template
{
    position: fixed;
    z-index: -1;
    top: 0px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
/* For Chrome, Edge, and Safari */
.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}