@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-template
{
    position: fixed;
    z-index: -1;
    top: 0px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
/* For Chrome, Edge, and Safari */
.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
@media screen and (min-width: 1080px) and (max-width: 1279px) {
  .custom-negative-margin {
    margin-top: -100px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1499px) {
  .custom-negative-margin {
    margin-top: -200px;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1699px) {
  .custom-negative-margin {
    margin-top: -300px;
  }
}
@media screen and (min-width: 1700px) {
  .custom-negative-margin {
    margin-top: -380px;
  }
}
